body {
  -webkit-overflow-scrolling: touch;
}
ul, li {
  list-style: none;
}

@indexedList: am-indexed-list;
.@{indexedList} {
  position: relative;

  &-quick-search-bar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1999;
    text-align: center;
    font-size: 12px;
    li {
      padding: 5px 10px;
    }
    &-over {
      background-color: rgba(128, 128, 128, 0.2);
    }
  }
  // quickSearchBar is moving, maybe need disable body(or parent scroll element)'s overflow
  &-qsb-moving {
    overflow: hidden;
  }
}
